__pycache__/
*.pyc
.venv/
at_mind/data/processed/
.DS_Store


# Ignore vector DB (Chroma)
chroma/
chroma/*

# Ignore real survey data
excel_data/
Data/*.xlsx
vectorizer/
vector.py

# Ignore Python venv
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

RAG_final/vectorization/Data/

 
ml_outputs/
RAG_final/vectorization/ml_outputs

